/* Mindig így indítsd: */

* {
  box-sizing: border-box;
}

nav {
  background-color: black;
  text-align: center;
  padding: 1rem;
  
  }

nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  text-align: center;
  display: block;
  padding: .5rem 1rem;
  color: #fff;
  display: block;
   }

nav a:hover {
  color: hsl(0, 0%, 77%);
  transition: color .15s ease-in-out;
}

.signup{
  border-radius: 9999px;
  border: 1px solid grey;
   }

.signup:hover{
  background-color: white;
  color: black;
  transition: background-color .15s ease-in-out;

}

@media (min-width: 768px) {

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav a {
    float: right;
  }

  .home {
    float: left;
  }
 
 
  /* Clearfix a floatolás miatt mindig kell!!*/
    nav::after {
    content: "";
    clear: both;
    display: block;
  }

}

p {
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
}

@media (min-width: 768px) {

  body {
    width: 60%;
    margin: 5.25rem auto 1.25rem;
  }

}

p {
  margin-bottom: 1.25rem;
  padding: .5rem;
}
